/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

  .home-section{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    

}
.container{
    background: #FFFFFF;
    width: 1440px;
    height: 677px;
    /* border: 1px solid blue; */
}
nav{
  justify-content: center;
  display: flex;
  height: 102px;
  align-items: center;
}
.head-item{

  display: flex;
  width: 1160px;
  height: 62px;
}
.logo_div{
  align-items: center;
  display: flex;
  width: 202px;
  height: 62px;
}
.logo_div h1{
  font-family: 'Quicksand', sans-serif;
line-height: 30px;
font-size: 32px;
}
.head-item ol{
  padding-top: 15px;
  padding-left: 186px;
  display: flex;
  list-style: none;
  gap: 40px;

}
.head-item ol li a{
  text-decoration: none;
  font-size: 20px;

}

.contact-btn{
  background-color: orange;
  border: none;
  border-radius: 12px;
  margin-top:5px ;
  margin-left: 186px;
  width: 197px;
  height: 50px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}
.head-item button:hover{
  background-color: rgb(195, 159, 98);
}
.home-part{
  display: flex;
 justify-content: center;
  width: 1280px;
  height: 575px;

}
.middle-part{

  width: 1158.61px;
  height: 575px;

}
.left-side{
  margin-top: 141px;
  width: 640px;
  height: 331px;

}
.left-side h1{
  font-family: 'Quicksand', sans-serif;
  line-height: 61px;
  font-size: 56px;
}
.left-side p{
  font-family: 'Quicksand', sans-serif;
  padding-top: 24px;
  line-height: auto;
  font-size: 20px;
}
.left-side button{
  font-family: 'Quicksand', sans-serif;
 margin-top: 24px;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border:none;
}
.left-side button:hover{
  background-color: #313131;
}
.img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 750px;
  width: 468.61px;
  height: 575px;
}
.toggle-btn{
  display: none;
}

.age-br{
  display: none;
}
.text-marque{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: 700;

}




@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 894px;
  }

  nav {
    width: 100%;
     display: flex;
    height: 70px;

    justify-content: space-between;
    border-bottom: 1px solid orange;
  }
  .head-item {
    display: flex;
    justify-content: space-between;
  }
  .head-item img{
    width: 46px;

    padding-bottom: 20px;

  }
  .head-item ol{
    display: none;
  }
  .contact-btn{
    display: none;
  }
  .head-item h1{
    display: none;
  }

  .logo_div {
    padding-top: 20px;
    justify-content: space-between;
  }

  .logo_div h1 {
    font-size: 24px;
  }

  .head-item ol {
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
    padding-top: 10px;
  }

  .contact-btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
  }

  .toggle-btn {
    margin-right: 20px;
    display: inline-block;
    background: none;
    border: none;
    font-size: 32px;
    color: #000;
  }

  .home-part {
    width: 140px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .middle-part {
     width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-side {
    margin-top: 20px;

    height: auto;
  }

  .left-side h1 {
    padding-left: 240px;
    font-size: 32px;
    line-height: 1.4;
  }

  .left-side p {
    padding-left: 250px;
    font-size: 16px;
    line-height: 1.5;
  }

  .left-side button {
    margin-left: 240px;
    font-size: 16px;
    width:131.41px;
    line-height: 30px;
    height:43.17px ;
    margin-top: 15px;
  }

  .img-div {
    padding-left: 250px;
    position: static;
    height: auto;
    margin-top: 20px;
  }

  .img-div img {
     width: 337px;
     height: 413px;
  }

  .age-br {
    display: inline;
  }
  .text-marque{
   position: relative;
   
   
   bottom: -200px;
    width: 100%;
  }
}





@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.middle-section{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
}
.sec-container{
    background-color: #FFFFFF;
    width: 1440px;
    height: 879px;
    /* border: 1px solid rgb(0, 255, 157); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.sec-container h1{
    margin-top: 60px;
    line-height: 57.5px;
    font-size: 46px;
    font-family: 'Quicksand', sans-serif;
}
.card-div{
    width: 1160px;
    height: 481.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    /* border: 1px solid green; */
}
.card{
    width: 367.8px;
    height: 476.78px;
    /* border: 1px solid salmon; */
    border-radius:18.86px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card img{
    padding-top: 115.54px;
    width: 136.76px;

}
.card h2{
    font-size: 24px;
}
.card p{
    font-family: 'Raleway',sans-serif;
    font-size: 15.09px;
    line-height: 28.3px;
}
.card button{
    font-size: 15.09px;
    border: none;
    font-weight: bold;
}
.btn-div button{
    width: 60px;
    height: 60px;
    background-color: orange;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;

}
.btn-div button:hover{
    background-color: rgb(197, 174, 131);
}


@media (max-width: 768px) {
    .sec-container h1{
      font-size: 26px;

    }
    .card-div{
        margin-top: 400px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .sec-container{
        height: 1500px;
        width: 100%;
    }
    .card button{
        margin-bottom: 20px;
    }
    .btn-div button{
       display: none;
    }

}




.sec-middle {
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}
.indexing{
  z-index: 2;
}

.sec-middle-div {
  width: 1440px;
  height: 1018.02px;
  /* border: 1px solid black; */

  background-size: cover;
  background-position: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 80px;
  background: linear-gradient(0deg, rgba(254,163,1,0.38707983193277307) 0%, rgba(255,255,255,1) 64%);


}

.sec-middle-div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 10;
  background-image: url('../bg.png');
  z-index: 1;
}

.box-div {
  width: 1160px;
  height: 630.52px;;
  display: flex;
  gap: 15px;

}

.left_box {
  width: 540.27px;
  height: 630.52px;
  border-radius: 16px;
  background-color: #FFFFFF;

}
.left_box img{
  border-radius: 16px 16px 0 0;
  width: 540px;
  height: 337px;
}

.right_box {
  width: 601px;
  height: 622.4px;
  display: grid;
  border-radius: 16px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;



}

.box-table {

  width: 290.69px;
  height: 301.61px;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
}
.box-table img{
  position: relative;
  left: -22px;
  top: -22px;
  width: 291px;
  height: 177px;
  border-radius: 16px 16px 0 0;

}
.sec-middle-div  h1{
font-family: 'Quicksand', sans-serif;
font-size: 46px;
line-height: 57.5px;
font-style: bold;

}
.left_box button{
  height: 47.93px;
  width: 174.51px;
  background-color: #3CD8E8;
  color: #FFFFFF;
  font-size: 15.34px;
  line-height: 28.8px;
  border-radius: 47.93px;
  border: none;
  position: relative;
  top: -25px;
  left: 38.35px;
}
.left_box h3{
  font-size: 24px;
  line-height: 38.3px;
  padding-left: 38.35px;
}
.left_box p{
  width: 600px;
  font-size: 15.34px;
  line-height: 28.8px;
  padding-left: 38.35px;
  padding-top: 40px;

}

.box-table p{
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 800;
  position: relative;
  top: -30px;
}
.viwe-btn {
  width: 197px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  line-height: 30px;
  border-radius: 12px;
  color: #FFFFFF;
}
.viwe-btn:hover{
  background-color: rgb(80, 77, 77);
}


@media (max-width: 768px) {
  .sec-middle-div{
      margin-top: 80px;
      padding-top: 90px;
      width: 100%;
      height: 784px;
  }

  .left_box {
      display: none;
  }
  .right_box{
      margin-left: 13px;
      width: 358px;
      height: 100px;


  }
  .box-table{
      width:173.35px;
      height: 179.59px;
  }
  .box-div{
      width: 100%;
  }
  .box-table img{
      width: 173.27px;
      height: 105.39px;
  }
  .box-table p{
      font-size: 9.13px;
      line-height: 17.1px;
  }
  .viwe-btn {
      position: relative;
      width: 134px;
      height: 30px;
      top: -120px;
      font-size: 16px;
  }



}




.footer-secton{
  background: #F5F5F5;
  display: flex;
  justify-content: center;
}
footer{
  width: 1440px;
  height: 519px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-item{
  width: 1070.91px;
  height: 222px;
  /* border: 1px solid black; */
  display: flex;
  gap: 170px;
}
.logo-part h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 42.14px;
  line-height: 39.5px;
  color: #FFFFFF;
  padding-top: 20px;


}
.logo-part img{
  width: 82.9px;
  height: 81.65px;


}
.logo-part{
  display: flex;
}
.text p{
  padding-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 10px;

}
.About-part h2{
  font-family: 'Quicksand', sans-serif;
 font-size: 24px;
 color: #FFFFFF;

}

.About-part ol{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.About-part ol li{
  list-style: none;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
}
.About-part ol li a{
  text-decoration: none;
  color: #FFFFFF;
}
.links h2{
  font-size: 26px;
  color: #FFFFFF;

}
.links ol li{
  list-style: none;

}
.links ol{
  padding-top: 20px;
  display: flex;

  gap: 5px;
}
.br-not{
  display: none;
}
@media (max-width: 768px) {
  footer{
      width: 100%;
      height: 844px;
   
  }
  .footer-item{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 50px;
      padding-left: 20px;
      margin-bottom: 500px;
  }
  .logo-part img{
      width: 69.23px;

  }
  .logo-part h1{
      font-size: 35.73px;
      text-align: left;
      position: relative;
      top: -15px;
      left: 10px;

  }
  .br-not{
      display: block;
  }
  .text p{
      font-size: 16px;
  }

}